body {
    color: white;
    background-color: rgb(35, 34, 39);
    font-family: "Arial";
}

h1 {
    font-size: xxx-large;
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: xx-large;
}

div {
    font-size: large;
    margin-bottom: 15px;
}

input {
    margin-bottom: 10px;
}

input[type=text] {
    width: 500px;
}

.save_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;

    width: 150px;
    height: 40px;
    font-size: xx-large;

    color: white;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
}

.proxy-overlay {
    z-index: 20;
    position: relative;
    top: -160px;
    width: 600px;
    height: 155px;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 10px;
    display: none;
}




.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000
        url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
        no-repeat;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #000;
    z-index: 1;
}
